html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Первая страница */
#initialScreen {
    position: absolute;
    z-index: 100;
    background: #5b5b81;
    width: 100%;
    height: 100%;
}

#nameGame {
    font-size: calc(3em + 3vw);
    font-family: Arial Black;
    position: absolute;
    z-index: 100;
    color: #b95335;
}

#nameGameShadov {
    font-size: calc(3em + 3vw);
    font-family: Arial Black;
    position: absolute;
    z-index: 50;
    color: #000000;
}
/* - Первая страница - */